header {
  background-color: yellow;
  height: 15vh;

  position: sticky;
  top:0px;
}

.giallo {
  height: 300px;
  background-color: chocolate;
}




.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news {
  background-color: aqua;
  margin: 50px 100px 10px 100px;
  max-width: 200px;
  max-height: 100px; 
  overflow: hidden;

}

.container {
  display: flex;
  flex-direction: row;

 }

.articoli {
width: 700px;
height: 100px;

background-color: azure;
margin: 30px 20px 20px 200px;
display: flex;
flex-direction: row;
}

.img {
  
  background-color: darkred;
  width: 250px;
  height: 100px;
  float: right;
}


.sidebar {
  position: sticky;
  top:150px;
 margin-left: 100px;
 width: 300px;
 max-height: 500px;
  
}


button {
  position: fixed;
  background-color: brown;
  position: sticky;
  top:100px;
  max-width: 200px;
  max-height: 50px;
  margin: 10px;
}
