.btn {
    display: inline-block;
    border-radius: 5px;
    padding: $padding-default;
    margin: 3px;
    transition: transform 0.3s ease-in-out;

    &:hover {                                   //sass
        transform: scale (1.05);
    }

}

/*
$btn-color: (
    primary:  $primaryColor,
    secondary: $secondaryColor,
    tertiary: $tertiaryColor,
);

*/


$btn-colors: (
    primary:  map-get($setColors, primaryColor),
    secondary: map-get($setColors ,secondaryColor),
    tertiary: map-get($setColors, tertiaryColor),
);


 //ciclo: per ogni coppia chiave-valore che trovi in $btn-color crea classe denominata .btn-(variabile)
 //e assegna un background color che trovi in $setColors e un colore del testo



@each $key, $value in $btn-colors {            
    .btn-#{$key} {
        background-color: $value;
        color: map-get($setColors, textLight)
    }
}




