@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;400&family=Roboto:wght@700&display=swap');




html, body:not(.nomargin) {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    font-size: 1.2em;
    margin: auto;
    text-align: center
    
  }


#headerlogo {
    width: 35%;
    padding: 40px;
}

header {
   
    background-color: black;
    text-align: center;
    
    width: 100%;
    
    }

#bgimage {
    background-image: url('images/banner.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: between;
    padding: 70px;
    margin: 0px;
    position: relative;
   
}



button {
    background-color: rgb(229, 73, 26);
    padding: 15px 15px;
    border-radius: 5px;
    color: white;
    border: 0px;
    font-family: 'Montserrat', bold;
}

h1, h4, h3 {
    color: #25a2c3;
    font-family: 'Montserrat', bold;
    line-height: 1.5;
}

#notebook {
    border-radius: 50%;
}

#rosso {
    background-color: #e22d0e;
    color: white;
    margin: auto;
    padding: 20px 40px;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    color: #393d41;
}


article {
    border: 2px solid rgb(234, 233, 233);
    border-radius: 10px;
    margin: 20px;
}


.roundimg {
    width: 70%;
    text-align: center;
}

.secondary {

    text-align:center;
    padding: 20px;
}


 .articlephoto {
    width: 19em;
  
}

footer {

    background-color: #25a2c3;
    color: white;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}

 /*??????.normagin????????????????*/


 .onwhite {
    color: aliceblue;
 }

    
#blue p, #rosso p, footer p {
    color: white;
}

a:link {
    color: white;
    font-family: 'Open Sans';
}

hr {
    width: 200px;
}

