* {
  color: #fff;
}

.font-size-list {
  font-size: 0.9rem;
}

.font-size-list:hover {
  color: #1ed760 !important;
}

.bg-centrale {
  background-color: #121212;
}

.black {
  background-color: black;
}

.btn-play {
  background-color: #1ed760;
}

.playlistScroll {
  height: 71.6vh;
}

.bg-card-orizz {
  background-color: #2c2c2c;
}

.bg-card-verticali {
  background-color: #171717;
}

.divCenterScroll {
  height: 90.6vh;
}

.playlistCol {
  width: 32.33%;
}

.colorIcona {
  color: gray;
}

.bg-jumbotron {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 18%,
    rgba(53, 53, 53, 1) 70%
  );
}

.padding-row {
  padding-bottom: 9rem;
}

.bg-repeat {
  background-size: auto;
  background-blend-mode: darken;
  background-position: center;
}

/* .bg_jumbotron {
  
} */

.sfocatura {
  backdrop-filter: blur(10px);
  z-index: -1;
}